{% extends 'manicurer/base.html' %}
{% load staticfiles %}


{% block body %}
<h1>Hotest manicures</h1>
{% if pictures %}
<div>
    {% if pictures %}
    <ul>
        {% for picture in pictures %}

        <a href="{% url 'manicurer:viewpicture' picture.name %}">
            <div class="col-md-4 welcome-left">
                <img border="0" src="/media/images/{{ picture.name }}.jpg"/>
                <b>
                    Rate: {{ picture.avgrate }} Comments: {{ picture.NumberOfRates }}
                </b>
            </div>
        </a>

        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no pictures present.</strong>
    {% endif %}
</div>
{% else %}
<strong>There are no image present.</strong>
{% endif %}
</div>
{% endblock %}

</html>