{% extends 'manicurer/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Index
{% endblock %}
{% block body_block %}
    <h1>Manicurer</h1>
    <h2><a href="/manicurer/hotest"> Hotest Manicures </a></h2>
    <h2><a href="/manicurer/greatest"> Greatest Manicures </a></h2>
        <div>
            {% if pictures %}
                <ul>
                    {% for picture in pictures %}
                        <li>
                        <a href="/manicurer/{{ picture.name }}">
                            <img border="0" src="/media/images/{{ picture.name }}.jpg" />
                        </a>
                        </li>
                        <li>
                            <b>
                                Rate: {{ picture.avgrate }}       Comments: {{ picture.NumberOfRates }}
                            </b>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>

    <div>
        {% if user.is_authenticated %}
            Hi! {{ user.username }}!
        {% else %}
            Why not become a manicurer!
        {% endif %}
    </div>

{% endblock %}